-server
-Xms2g
-Xmx2g
-XX:MaxDirectMemorySize=4g
-Duser.timezone=UTC
-Dfile.encoding=UTF-8
-Djava.io.tmpdir=/tmp/druidTmp/
-Djava.util.logging.manager=org.apache.logging.log4j.jul.LogManager
-Dlog.file.path=/tmp/druidLogs
-Dlog.file.type=broker
-Ddruid.dir=/work/druid/src/sugo-druid/distribution/target/