<!DOCTYPE HTML>
<head>
    <title>流量方案</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/common.css" rel="stylesheet" type="text/css" media="all"/>

    <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript" src="js/flow.js"></script>
</head>

<body>
<div id="app">
    <div class="header">
        <div class="wrap">
            <div class="header_top">
                <div class="logo">
                    <a href="mwclf.html"><img src="images/sugologo.png" alt="" /></a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="container mg2t">
        <div class="col-md-30">
            <form class="form-horizontal"  method="post" >
                <div class="form-group">
                    <label for="title" class="col-sm-15 control-label">消费总流量(MB)</label>
                    <div class="col-sm-45">
                        <input type="text"
                               class="form-control"
                               id="title"
                               v-model="totalFlow"
                               name="title"
                               placeholder="请输入消费总流量">
                    </div>
                </div>
                <div class="form-group">
                    <label for="flowPackage" class="col-sm-15 control-label">流量规格包(MB)</label>
                    <div class="col-sm-45">
                        <textarea class="form-control" rows="5" v-model="flowPackage" placeholder="请输入流量包种类"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="price" class="col-sm-15 control-label">对照价格表(元)</label>
                    <div class="col-sm-45">
                        <textarea class="form-control" rows="5" v-model="price" placeholder="请输入流量包价格"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-15 col-sm-45">
                        <button type="button" class="btn btn-default" @click="getGroup">提交</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-10 aligncenter" :style="{fontSize: '5em'}">
            <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
        </div>
        <div class="col-md-20">
            <!--<label for="minPrice" class="col-sm-15 control-label">最佳消费额(元)</label>-->
            -最佳消费额(元)
            <textarea class="form-control" rows="2" v-model="minPrice" placeholder="预测结果"></textarea>
            <!--<label for="bestCombin" class="col-sm-15 control-label">最佳组合(格式：流量包规格->数目)</label>-->
            -最佳组合(格式：流量包规格->数目)
            <textarea class="form-control" rows="10" v-model="bestCombin" placeholder="预测结果"></textarea>
        </div>

    </div>

    <div class="bottom">
        <div class="wrap">
            <div class="copy_right">
                <p>Copyright &copy; 2017.sugo All rights reserved.</p>
            </div>
        </div>
    </div>
    <a href="javascript:" id="toTop"><span id="toTopHover"> </span></a>
</div>
<div class="hidden">
    <script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script>
</div>
</body>
</html>

