<!DOCTYPE HTML>
<head>
    <title>文本分类</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/common.css" rel="stylesheet" type="text/css" media="all"/>

    <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript" src="js/mwclf.js"></script>
</head>

<body>
<div id="app">
    <div class="header">
        <div class="wrap">
            <div class="header_top">
                <div class="logo">
                    <a href="mwclf.html"><img src="images/sugologo.png" alt="" /></a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="container mg2t">
        <div class="col-md-30">
            <form class="form-horizontal"  method="post" >
                <div class="form-group">
                    <label for="title" class="col-sm-15 control-label">帖子标题</label>
                    <div class="col-sm-45">
                        <input type="text"
                               class="form-control"
                               id="title"
                               v-model="title"
                               name="title"
                               placeholder="请输入帖子标贴">
                    </div>
                </div>
                <div class="form-group">
                    <label for="content" class="col-sm-15 control-label">帖子内容</label>
                    <div class="col-sm-45">
                        <textarea class="form-control" rows="15" v-model="content" placeholder="请输入帖子内容"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-15 col-sm-45">
                        <button type="button" class="btn btn-default" @click="getlabel">提交</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-10 aligncenter" :style="{fontSize: '5em'}">
            <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
        </div>
        <div class="col-md-20">
            <h3>{{hint}}</h3>
            <textarea class="form-control" rows="7" v-model="result" placeholder="预测结果"></textarea>
            <div class="alert alert-warning mg1t" role="alert"> 预测标签圈：
                <a href="http://q.mama.cn/group/1/">"准备怀孕圈"</a>,
                <a href="http://q.mama.cn/group/24/">"难孕难育圈"</a>,
                <a href="http://q.mama.cn/group/2/">"孕8-10月圈"</a>,
                <a href="http://q.mama.cn/group/26/">"生男生女圈"</a>,
                <a href="http://q.mama.cn/group/27/">"宝宝取名圈"</a>,
                <a href="http://q.mama.cn/group/28/">"宝宝营养辅食"</a>,
                <a href="http://q.mama.cn/group/29/">"宝宝常见病圈"</a>,
                <a href="http://q.mama.cn/group/4/">"早教幼教圈"</a>
            </div>
        </div>
    </div>

    <div class="bottom">
        <div class="wrap">
            <div class="copy_right">
                <p>Copyright &copy; 2017.sugo All rights reserved.</p>
            </div>
        </div>
    </div>
    <a href="javascript:" id="toTop"><span id="toTopHover"> </span></a>
</div>
<div class="hidden">
    <script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script>
</div>
</body>
</html>

