<!DOCTYPE HTML>
<head>
	<title>电影详情</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
	<link href="css/common.css" rel="stylesheet" type="text/css" media="all"/>
	<link href="css/preview.css" rel="stylesheet" type="text/css" media="all"/>

	<script type="text/javascript" src="js/jquery-3.1.1.js"></script>
	<script type="text/javascript" src="js/move-top.js"></script>
	<script type="text/javascript" src="js/easing.js"></script>
	<script type="text/javascript" src="js/vue.js"></script>
	<script type="text/javascript" src="js/lodash.min.js"></script>
	<script type="text/javascript" src="js/preview.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
	<script type="text/javascript" src="components/card.js"></script>
</head>

<body>
<div id="app">
	<div class="header">
		<div class="headertop_desc">
			<div class="wrap">
				<div class="nav_list">
					<ul>
						<li><a href="index.html">首页</a></li>
					</ul>
				</div>
				<div class="account_desc">
					<ul>
						<li v-if="userId"><a href="#">{{userId}}</a></li>
						<li v-else><a href="contact.html">登录</a></li>
						<li><a href="index.html" @click="checkOut">注销</a></li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="wrap">
			<div class="header_top">
				<div class="logo">
					<a href="index.html"><img src="images/logo.png" alt="" /></a>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<div class="main">
		<div class="wrap">
			<div class="content_top">
				<div class="back-links">
					<p><a href="index.html" class="active">首页</a> &gt;&gt;&gt;&gt; <span>电影详情</span></p>
				</div>
				<div class="clear"></div>
			</div>
			<div class="section group container-fluid">
				<div class="cont-desc col-md-40 pd1r">
					<div class="product-details">
						<div class="grid images_3_of_2">
							<img :src="filmData.Poster" alt="" />
						</div>
						<div class="desc span_3_of_2">
							<h2>{{filmData.Title}}</h2>
							<div>
								<p>导演: <span>{{filmData.Director}}</span></p>
							</div>
							<div class="available">
								<ul>
									<li><span>类型:</span> &nbsp; {{filmData.Genre}}</li>
									<li><span>作者:</span> &nbsp; {{filmData.Writer}}</li>
									<li><span>主演:</span>&nbsp; {{filmData.Actors}}</li>
									<!--<li><span>Units in Stock:</span>&nbsp; 566</li>-->
								</ul>
							</div>
						</div>
						<div class="clear"></div>
					</div>
					<div class="product_desc">
						<h2>剧情简介:</h2>
						<p>{{filmData.Plot}}</p>
					</div>

					<div v-if="fpFilms.length" class="main">
						<div class="content">
							<div class="content_bottom">
								<div class="heading">
									<span class="font14 mg1l">购买此电影的顾客也同时购买这些电影</span>
								</div>
							</div>

							<div class="mg-1r pd1 container-fluid">
								<div class="col-md-15" v-for="(movieId, index) in _.take(fpFilms, 4)">
									<movie-card :movie-id="movieId" :display-genre="true" />
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-20 pd1l pd3t sidebar">
					<h2>相似推荐</h2>
					<div class="color999 aligncenter pd3" v-if="!relatedFilms.length">暂无内容</div>
					<div class="special_movies" v-for="(item, index) in relatedFilms">
						<div class="movie_poster">
							<a :href="'preview.html?imdbId=' + item.imdbID +'&id=' + item.id" :title="item.Title"><img :src="item.Poster" alt="" /></a>
						</div>
						<div class="movie_desc">
							<h3>
								<a :href="'preview.html?imdbId=' + item.imdbID +'&id=' + item.id"
								   class="elli block"
								   :title="item.Title">{{item.Title}}</a></h3>
							<p><span>类型:</span> &nbsp; {{item.Genre}}</p>
							<p><span>评分:</span> &nbsp; {{item.imdbRating}}</p>
							<span><a :href="'preview.html?imdbId=' + item.imdbID +'&id=' + item.id" :title="item.Title">浏览</a></span>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!------------End Header ------------>


	<div class="footer">
		<div class="wrap">
			<div class="copy_right">
				<p>Copyright &copy; 2016.Sugo All rights reserved.</p>
			</div>
		</div>
	</div>
	<a href="#" id="toTop"><span id="toTopHover"> </span></a>
</div>
<div class="hidden">
	<script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script>
</div>
</body>
</html>

