<!DOCTYPE HTML>
<head>
<title>Preview</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
<script type="text/javascript" src="js/jquery-1.9.0.min.js"></script> 
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
</head>
<body>
	<div id="app">
	<div class="header">
		 <div class="headertop_desc">
			<div class="wrap">
				<div class="nav_list">
					<ul>
						<li><a href="index.html">Home</a></li>
					</ul>
				</div>
					<div class="account_desc">
						<ul>
							<li v-if="userId"><a href="#">{{userId}}</a></li>
							<li v-else><a href="contact.html">Login</a></li>
							<li><a href="index.html" v-on:click="checkOut">Checkout</a></li>
						</ul>
					</div>
				<div class="clear"></div>
			</div>
	  	</div>
  	  		<div class="wrap">
				<div class="header_top">
					<div class="logo">
						<a href="index.html"><img src="images/logo.png" alt="" /></a>
					</div>
						<!--<div class="header_top_right">-->
						  <!--<div class="cart">-->
						  	   <!--<p><span>Cart</span><div id="dd" class="wrapper-dropdown-2"> (empty)-->
						  	   	<!--<ul class="dropdown">-->
										<!--<li>you have no items in your Shopping cart</li>-->
								<!--</ul></div></p>-->
						  <!--</div>-->
							  <!--<div class="search_box">-->
					     		<!--<form>-->
					     			<!--<input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}"><input type="submit" value="">-->
					     		<!--</form>-->
					     	<!--</div>-->
						 <!--<div class="clear"></div>-->
					<!--</div>-->
						  <script type="text/javascript">
								function DropDown(el) {
									this.dd = el;
									this.initEvents();
								}
								DropDown.prototype = {
									initEvents : function() {
										var obj = this;
					
										obj.dd.on('click', function(event){
											$(this).toggleClass('active');
											event.stopPropagation();
										});	
									}
								}
					
								$(function() {
					
									var dd = new DropDown( $('#dd') );
					
									$(document).click(function() {
										// all dropdowns
										$('.wrapper-dropdown-2').removeClass('active');
									});
					
								});
					    </script>
			   <div class="clear"></div>
  		    </div>     				
   		</div>
   </div>
   <div class="main">
   	 <div class="wrap">
   	 	<div class="content_top">
    		<div class="back-links">
    		<p><a href="index.html">Home</a> &gt;&gt;&gt;&gt; <a href="#" class="active">English</a></p>
    	    </div>
    		<div class="clear"></div>
    	</div>
   	 	<div class="section group">
				<div class="cont-desc span_1_of_2">
				  <div class="product-details">				
					<div class="grid images_3_of_2">
						<img :src="filmData.Poster" alt="" />
				  </div>
				<div class="desc span_3_of_2">
					<h2>{{filmData.Title}}</h2>
					<div>
						<p>Director: <span>{{filmData.Director}}</span></p>
					</div>
					<div class="available">
						<ul>
						  <li><span>Genre:</span> &nbsp; {{filmData.Genre}}</li>
						  <li><span>Writer:</span> &nbsp; {{filmData.Writer}}</li>
						  <li><span>Stars:</span>&nbsp; {{filmData.Actors}}</li>
						  <!--<li><span>Units in Stock:</span>&nbsp; 566</li>-->
					    </ul>
					</div>
				<!--<div class="share-desc">-->
					<!--<div class="share">-->
						<!--<p>Number of units :</p><input class="text_box" type="text">				-->
					<!--</div>-->
					<!--<div class="button"><span><a href="#">Add to Cart</a></span></div>					-->
					<!--<div class="clear"></div>-->
				<!--</div>-->
				 <!--<div class="wish-list">-->
				 	<!--<ul>-->
				 		<!--<li class="wish"><a href="#">Add to Wishlist</a></li>-->
				 	    <!--<li class="compare"><a href="#">Add to Compare</a></li>-->
				 	<!--</ul>-->
				 <!--</div>-->
			</div>
			<div class="clear"></div>
		  </div>
		<div class="product_desc">	
			 <h2>Details :</h2>
			   <p>{{filmData.Plot}}</p>
	   </div>
           </div>
				<div class="rightsidebar span_3_of_1 sidebar">
					<h2>相似推荐</h2>
					 	<div class="special_movies" v-for="(item, index) in relatedFilms">
					 	   <div class="movie_poster">
					 		  <a :href="'preview.html?imdbId=' + item.imdbID +'&id=' + item.id" :title="item.Title"><img :src="item.Poster" alt="" /></a>
					 		 </div>
					 		   <div class="movie_desc">
							    <h3><a :href="'preview.html?imdbId=' + item.imdbID +'&id=' + item.id" :title="item.Title">{{item.Title}}</a></h3>
								   <p><span>Genre:</span> &nbsp; {{item.Genre}}</p>
								   <p><span>Rating:</span> &nbsp; {{item.imdbRating}}</p>
								     <span><a :href="'preview.html?imdbId=' + item.imdbID +'&id=' + item.id" :title="item.Title">View</a></span>
								 </div>
								<div class="clear"></div>
					 		</div>	
 					   </div>
 		 		 </div>
   	 		</div>
        </div>

		<!------------End Header ------------>
		<div class="main">
			<div class="wrap">
				<div class="content">
					<div class="content_bottom">
						<div class="heading">
							<h3>组合推荐</h3>
						</div>
					</div>
					<div class="section group">
						<div class="grid_1_of_5 images_1_of_5" v-for="(item, index) in fpFilms">
							<a :href="'preview.html?imdbId=' + item.imdbID +'&id=' + item.id"><img :src="item.Poster" alt=""  /></a>
							<h2 class="elli"><a :href="'preview.html?imdbId=' + item.imdbID +'&id=' + item.id" :title="item.Title">{{item.Title}}</a></h2>
							<div class="price-details">
								<div class="price-number">
									<p><span>Genre:</span> &nbsp; {{item.Genre}}</p>
									<p><span>Rating:</span> &nbsp; {{item.imdbRating}}</p>
								</div>
								<div class="add-cart">
									<h4><a :href="'preview.html?imdbId=' + item.imdbID +'&id=' + item.id">View</a></h4>
								</div>
								<div class="clear"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


   <div class="footer">
   	  <div class="wrap">	
			 <div class="copy_right">
				 <p>Copyright &copy; 2016.Sugo All rights reserved.</p>
		   </div>			
        </div>
    </div>
	<script type="text/javascript" src="js/vue.min.js"></script>
   <script type="text/javascript">
		$(document).ready(function() {			
			$().UItoTop({ easingType: 'easeOutQuart' });

            function qs(key) {
                key = key.replace(/[*+?^$.\[\]{}()|\\\/]/g, "\\$&") // escape RegEx meta chars
                var match = location.search.match(new RegExp("[?&]" + key + "=([^&]+)(&|$)"))
                return match && decodeURIComponent(match[1].replace(/\+/g, " "))
            }

            var detailUR = new Vue({
                el: '#app',
                data: {
                    userId: window.localStorage.getItem("userId") || '',
                    filmData: {},
					relatedFilms: [],
					fpFilms: []
                },
                methods: {
                    checkOut: function() {
                        window.localStorage.setItem("userId", "")
                    },

					queryRelated: function(id) {
                        var that = this
                        $.ajax({
                            url: '/pio/query/detail',
                            beforeSend(req) {
                                req.setRequestHeader('Content-Type', 'application/json')
                            },
                            data: JSON.stringify({
                                'item_id': id, 'num': 5, 'type': 'detail_query'
                            }),
                            dataType: 'json',
                            type: 'post',
                            success(data) {
                                var temp = []
                                for (let m = 0; m < data.related_item_id.length; m++) {
                                    that.queryOmdbByTitle(data.related_item_id[m], data.related_item_name[m], temp)
                                }
                                that.relatedFilms = temp
                            }
                        })
					},

					queryFp: function(id) {
						var that = this
						$.ajax({
                            url: '/pio/query/itemfp',
                            beforeSend(req) {
                                req.setRequestHeader('Content-Type', 'application/json')
                            },
                            data: JSON.stringify({
                                'item_id': id, 'num': 8, 'type': 'fp_query'
                            }),
                            dataType: 'json',
                            type: 'post',
                            success(data) {
                                var temp = []
                                for (let m = 0; m < data.item_id.length; m++) {
                                    that.queryOmdbByTitle(data.item_id[m], data.item_name[m], temp)
                                }
                                that.fpFilms = temp
                            }
                        })
					},

					clickPost: function(item_id) {
						var that = this
						$.ajax({
                            url: '/pio/query/click/submit',
                            beforeSend(req) {
                                req.setRequestHeader('Content-Type', 'application/json')
                            },
                            data: JSON.stringify({
                                'userId': that.userId, 'itemId': item_id
                            }),
                            dataType: 'json',
                            type: 'post',
                            success(data) {
								console.log("click behavior")
                            }
                        })
					},

                    queryOmdbById: function (imdbId) {
                        var that = this
                        $.ajax({
                            url: '/pio/query/movie/infoById/' + imdbId,
                            dataType: 'json',
                            type: 'get',
                            success(data) {
                                that.filmData = data
                            }
                        })
                    },

                    queryOmdbByTitle: function (id, title, temp) {
                        $.ajax({
                            url: '/pio/query/movie/infoByTitle/' + escape(title),
                            dataType: 'json',
                            type: 'get',
                            success(data) {
                                data.id = id
                                temp.push(data)
                            }
                        })
                    }
                }
            })

			detailUR.queryOmdbById(qs("imdbId"))
            detailUR.queryRelated(qs("id"))
            detailUR.clickPost(qs("id"))
            detailUR.queryFp(qs("id"))
		});
	</script>
    <a href="#" id="toTop"><span id="toTopHover"> </span></a>
<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</div>
</body>
</html>

