<!DOCTYPE HTML>
<head>
    <title>搜索结果</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/common.css" rel="stylesheet" type="text/css" media="all"/>

    <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <script type="text/javascript" src="js/vue.min.js"></script>
    <script type="text/javascript" src="js/lodash.min.js"></script>
    <script type="text/javascript" src="js/search.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
    <script type="text/javascript" src="components/card.js"></script>
</head>

<body>
<div id="app">
    <div class="header">
        <div class="headertop_desc">
            <div class="wrap">
                <div class="nav_list">
                    <ul>
                        <li><a href="index.html">首页</a></li>
                    </ul>
                </div>
                <div class="account_desc">
                    <ul>
                        <li v-if="userId"><a href="#">{{userId}}</a></li>
                        <li v-else><a href="contact.html">登录</a></li>
                        <li><a href="index.html" @click="checkOut">注销</a></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="wrap">
            <div class="header_top">
                <div class="logo">
                    <a href="index.html"><img src="images/logo.png" alt="" /></a>
                </div>
                <div class="header_top_right">
                    <div class="search_box">
                        <form>
                            <input class="search-keyword"
                                   type="text"
                                   value="搜索"
                                   onfocus="this.value = '';"
                                   onblur="if (this.value == '') {this.value = '搜索';}">
                            <input class="search-submit" type="submit" value="" >
                        </form>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>

        <div class="main">
            <div class="wrap">
                <div class="content">
                    <div class="content_bottom">
                        <div class="heading">
                            <h3>搜索 {{keyword}} 的结果</h3>
                        </div>
                    </div>
                    <div v-if="searching" class="pd3 aligncenter color999">加载中</div>
                    <div v-else-if="searchItems.length" class="mg-1r pd1 container-fluid">
                        <div class="col-md-10" v-for="(movieId, index) in searchItems">
                            <movie-card :movie-id="movieId" />
                        </div>
                    </div>
                    <div v-else class="pd3 aligncenter color999">查无内容</div>
                </div>
            </div>
        </div>

        <div v-if="userId" class="main">
            <div class="wrap">
                <div class="content">
                    <div class="content_bottom">
                        <div class="heading">
                            <h3 class="itblock">猜你想搜</h3>
                            <span class="font14 ibblock mg1l">根据你的历史行为推荐的电影</span>
                        </div>
                    </div>

                    <div class="mg-1r pd1 container-fluid">
                        <div class="col-md-10" v-for="(movieId, index) in userSearchItems">
                            <movie-card :movie-id="movieId" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="copy_right">
                <p>Copyright &copy; 2016.Sugo All rights reserved.</p>
            </div>
        </div>
        <a href="#" id="toTop"><span id="toTopHover"> </span></a>
    </div>
</div>
<div class="hidden">
    <script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script>
</div>
</body>
</html>

